<!DOCTYPE html>
<html>
<head>
    <title>Toolbox</title>
    <link href="{{ STATIC_URL }}css/bootstrap-1.4.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.16.custom.css" rel="stylesheet"/>
</head>
<body>

<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="/">Toolbox</a>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="{% url workload %}">Workload</a></li>
                <li><a href="{% url people_list %}">People</a></li>
                <li><a href="{% url stories_list %}">Stories</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    <div class="content">
        <div class="page-header">
            <h1>{% block title %}Homepage{% endblock %}</h1>
        </div>
        {% block subnavigation %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>

    <footer class='pull-right'>
        <p>&copy; X-Team 2011</p>
    </footer>

</div>



<script src="{{ STATIC_URL }}js/jquery-1.7.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui-1.8.16.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-twipsy.js"></script>
<script src="{{ STATIC_URL }}js/main.js"></script>
</body>
</html>
