{% extends 'people/base.html' %}

{% block content %}
    <div class="row">
        <div class="span15">
            <h2>{{ person.name }}</h2>
            <table class='bordered-table'>
                <thead>
                <tr>
                    <th width="200px">Date</th>
                    <th>People</th>
                </tr>
                </thead>
                <tbody>
                {% for date, projects in person_grid %}
                    {% if date == 'separator' %}
                        <tr>
                            <td colspan="2">{{ projects }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <th>{{ date }}</th>
                            <td>{% for project in projects %}
                                <a class="label {{ project.color }} project"
                                   href="{{ project.get_absolute_url }}">{{ project }}</a>
                            {% endfor %}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
