{% extends 'workload/base.html' %}
{% load grid %}

{% block content %}
    <div class="row">
        <div class="span15">
            <h2>Project {{ project.name }}</h2>
            <table class='workload bordered-table'>
                <thead>
                <tr>
                    <th width="200px">Date</th>
                    <th>People</th>
                </tr>
                </thead>
                <tbody>
                {% for date, people in project_grid %}
                    {% if date == 'separator' %}
                        <tr>
                            <td colspan="2">{{ people }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <th>{{ date }}</th>
                            <td>{% project_members people %}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ prev }}">Prev</a>
            <a class="pull-right" href="{{ next }}">Next</a>
        </div>
    </div>
{% endblock %}
