{% extends 'workload/base.html' %}
{% load grid %}

{% block content %}
    <section>
        <div class=""><h3>Workload</h3></div>
        <div class="row">
            <div class="span15">
                <table class='workload bordered-table'>
                    <thead>
                    <tr>
                        <th width="70px">Person</th>
                        {% for date in grid.date_range %}
                            <th>{{ date|date:"D, j M" }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for person, days_assignments in grid %}
                        <tr>
                            <th>{{ person.name }}</th>
                            {% for date, assignments in days_assignments %}
                                <td data-date="{{ date|date:'c' }}" class='cell'>
                                    <div class="cellwrapper">
                                        {% cell assignments %}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a class="btn" href="{{ prev }}">Prev</a>
                <a class="pull-right btn" href="{{ next }}">Next</a>
            </div>
        </div>
    </section>

    <section>
        <div class=""><h3>New assignment</h3></div>
        <div class="row">
            <div class='span10'>
                <form action='{% url create_assignment %}' method="POST">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <fieldset>
                        <legend>New assignment</legend>
                        {% for field in form.visible_fields %}
                            <div class="clearfix">
                                {{ field.label_tag }}
                                <div class="input">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="input">
                            <input type="submit" class="btn primary"/>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
